<settings>
	
    <setting propertyKey="@Properties.WhatToShowAtTop" title="@Strings.TopCenterInfo">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Date1</listEntry>
            <listEntry value="2">@Strings.Date2</listEntry>
            <listEntry value="3">@Strings.Date3</listEntry>
            <listEntry value="4">@Strings.Date4</listEntry>
            <listEntry value="5">@Strings.Date5</listEntry>
            <listEntry value="12">@Strings.Date6</listEntry>
            <listEntry value="6">@Strings.Steps</listEntry>
            <listEntry value="7">@Strings.Calories</listEntry>
            <listEntry value="8">@Strings.Messages</listEntry>
            <listEntry value="9">@Strings.Battery</listEntry>
            <listEntry value="10">@Strings.Hr</listEntry>
            <listEntry value="11">@Strings.None</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.WhatToShowAtRight" title="@Strings.RightInfo">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Calendar</listEntry>
            <listEntry value="2">@Strings.Phone</listEntry>
            <listEntry value="3">@Strings.Activity</listEntry>
            <listEntry value="4">@Strings.None</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.ShowBottomLeft" title="@Strings.ShowBottomLeft">
        <settingConfig type="boolean" />
    </setting>    
    <setting propertyKey="@Properties.WhatToShowAtBottomLeft" title="@Strings.BottomLeftInfo">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="2">@Strings.Calories</listEntry>
            <listEntry value="3">@Strings.Messages</listEntry>
            <listEntry value="4">@Strings.Battery</listEntry>
            <listEntry value="5">@Strings.Hr</listEntry>
            <listEntry value="6">@Strings.None</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.WhatToShowAtBottomLeft2" title="@Strings.BottomLeftInfo2">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="2">@Strings.Calories</listEntry>
            <listEntry value="3">@Strings.Messages</listEntry>
            <listEntry value="4">@Strings.Battery</listEntry>
            <listEntry value="5">@Strings.Hr</listEntry>
            <listEntry value="6">@Strings.None</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.WhatToShowAtBottomLeft3" title="@Strings.BottomLeftInfo3">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="2">@Strings.Calories</listEntry>
            <listEntry value="3">@Strings.Messages</listEntry>
            <listEntry value="4">@Strings.Battery</listEntry>
            <listEntry value="5">@Strings.Hr</listEntry>
            <listEntry value="6">@Strings.None</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x008500">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFFBF00">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFF000">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x008500">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFFBF00">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFF000">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Font" title="@Strings.Font">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Font1</listEntry>
            <listEntry value="2">@Strings.Font2</listEntry>
            <listEntry value="3">@Strings.Font3</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.UseOldFont" title="@Strings.UseOldFont">
        <settingConfig type="boolean" />
    </setting>   
    

</settings>
